

@{
    ViewData["Title"] = "Add Admin";
}


    <form asp-controller="User" asp-action="AddAdmin" method="post">
    <div class="text-center">
        <div>
            <h2>Add Admin</h2>
            
            <div asp-validation-summary="All" class="text-danger"></div>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" autocomplete="on" class="form-control" required />
           @*  <span validation-for="email" class="text-danger"></span> *@
            <br />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" autocomplete="on"  class="form-control" required />
           @*  <span validation-for="password" class="text-danger"></span> *@
            <br />

            <button type="submit" class="btn btn-primary">Submit</button>

            <asp:Label ID="lblMessage" runat="server" ForeColor="Red" />
        </div>
    </div>
    </form>

