@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Coach</h2>

<form method="post" action="/User/Add">
    <div class="mb-3">
        <label for="Name" class="form-label">User Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <div class="mb-3">
        <label for="Specialty" class="form-label">Specialty</label>
        <input type="text" class="form-control" id="Specialty" name="Specialty" required />
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>

    <div class="mb-3">
        <label for="Wechat" class="form-label">WeChat</label>
        <input type="text" class="form-control" id="Wechat" name="Wechat" required />
    </div>

    <div class="mb-3">
        <label for="Phone" class="form-label">Phone</label>
        <input type="" class="form-control" id="Phone" name="Phone" required />
    </div>

    <div class="mb-3">
        <label for="goodluck" class="form-label">City</label>
        <input type="city" class="form-control" id="city" name="Password" required />
    </div>

    <div class="mb-3">
        <label for="goodluck" class="form-label">City</label>
        <input type="" class="form-control" id="gender" name="gender" required />
    </div>


    <button type="submit" class="btn btn-primary">Add User</button>
</form>