################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nsns_portal/.vs/nsns_portal
/nsns_portal/Web/bin/Debug/net8.0
/nsns_portal/Web/obj
/.vs/Repo/v17
/nsns_portal/Test/bin/Debug/net8.0
/nsns_portal/Test/obj
/nsns_portal/Web/wwwroot/js/registrations.js
/nsns_portal/Core/bin/Debug/net8.0/Core.dll
/nsns_portal/Core/bin/Debug/net8.0/Core.pdb
/nsns_portal/Core/obj/Debug/net8.0/ref/Core.dll
/nsns_portal/Core/obj/Debug/net8.0/refint/Core.dll
/nsns_portal/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/nsns_portal/Core/obj/Debug/net8.0/Core.dll
/nsns_portal/Core/obj/Debug/net8.0/Core.pdb
/nsns_portal/Core/obj/Debug/net8.0/Core.sourcelink.json
/nsns_portal/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/nsns_portal/Core/obj/Debug/net8.0/Core.assets.cache
/nsns_portal/Core/obj/Debug/net8.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/nsns_portal/Core/obj/Debug/net8.0/Core.genruntimeconfig.cache
/nsns_portal/Core/obj/Core.csproj.nuget.dgspec.json
/nsns_portal/Core/obj/project.nuget.cache
/nsns_portal/Core/obj/project.assets.json
/nsns_portal/Core/obj/Core.csproj.nuget.g.targets
/nsns_portal/Core/obj/Debug/net8.0/Core.csproj.FileListAbsolute.txt
/nsns_portal/Core/obj/Debug/net8.0/Core.csproj.CoreCompileInputs.cache
/nsns_portal/Core/obj/Debug/net8.0/Core.csproj.AssemblyReference.cache
*.targets
