################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nsns_portal/.vs/nsns_portal
/nsns_portal/Web/bin/Debug/net8.0
/nsns_portal/Web/obj
/.vs/Repo/v17
/nsns_portal/Test/bin/Debug/net8.0
/nsns_portal/Test/obj
/nsns_portal/Web/wwwroot/js/registrations.js
/nsns_portal/Core/bin/Debug/net8.0/Core.dll
/nsns_portal/Core/bin/Debug/net8.0/Core.pdb
/nsns_portal/Core/obj/Debug/net8.0/ref/Core.dll
/nsns_portal/Core/obj/Debug/net8.0/refint/Core.dll
/nsns_portal/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/nsns_portal/Core/obj/Debug/net8.0/Core.dll
/nsns_portal/Core/obj/Debug/net8.0/Core.pdb
/nsns_portal/Core/obj/Debug/net8.0/Core.sourcelink.json
/nsns_portal/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/nsns_portal/Core/obj/Debug/net8.0/Core.assets.cache
/nsns_portal/Core/obj/Debug/net8.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/nsns_portal/Core/obj/Debug/net8.0/Core.genruntimeconfig.cache
/nsns_portal/Core/obj/Core.csproj.nuget.dgspec.json
/nsns_portal/Core/obj/project.nuget.cache
/nsns_portal/Core/obj/project.assets.json
/nsns_portal/Core/obj/Core.csproj.nuget.g.targets
/nsns_portal/Core/obj/Debug/net8.0/Core.csproj.FileListAbsolute.txt
/nsns_portal/Core/obj/Debug/net8.0/Core.csproj.CoreCompileInputs.cache
/nsns_portal/Core/obj/Debug/net8.0/Core.csproj.AssemblyReference.cache
*.targets
/nsns_portal/Core/bin/Debug/net8.0/Core.deps.json
/nsns_portal/.vs/ProjectEvaluation/nsns_portal.metadata.v9.bin
/nsns_portal/.vs/ProjectEvaluation/nsns_portal.projects.v9.bin
/nsns_portal/.vs/ProjectEvaluation/nsns_portal.strings.v9.bin
/nsns_management/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/nsns_management/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/nsns_management/.vs/nsns_management/v17/.suo
/nsns_management/Core/bin/Debug/net8.0/Core.dll
/nsns_management/Core/bin/Debug/net8.0/Core.pdb
/nsns_management/Core/obj/Debug/net8.0/ref/Core.dll
/nsns_management/Core/obj/Debug/net8.0/refint/Core.dll
/nsns_management/Core/obj/Debug/net8.0/Core.dll
/nsns_management/Core/obj/Debug/net8.0/Core.pdb
/nsns_management/Core/obj/Debug/net8.0/Core.sourcelink.json
/nsns_management/Test/bin/Debug/net8.0/Test.dll
/nsns_management/Test/bin/Debug/net8.0/Test.pdb
/nsns_management/Test/obj/Debug/net8.0/ref/Test.dll
/nsns_management/Test/obj/Debug/net8.0/refint/Test.dll
/nsns_management/Web/obj/Debug/net8.0/ref/Web.dll
/nsns_management/Web/obj/Debug/net8.0/refint/Web.dll
/nsns_management/Web/obj/Debug/net8.0
/nsns_management/Web/obj/Debug/net8.0/apphost.exe
/nsns_management/Web/obj/Debug/net8.0/Web.AssemblyInfo.cs
/nsns_management/Web/obj/Debug/net8.0/Web.AssemblyInfoInputs.cache
/nsns_management/Web/obj/Debug/net8.0/Web.csproj.AssemblyReference.cache
/nsns_management/Web/obj/Debug/net8.0/Web.dll
/nsns_management/Web/obj/Debug/net8.0/Web.pdb
/nsns_management/Web/obj/Debug/net8.0/Web.sourcelink.json
/nsns_management/Web/bin/Debug/net8.0/Core.dll
/nsns_management/Web/bin/Debug/net8.0/Core.pdb
/nsns_management/Web/bin/Debug/net8.0/Web.dll
/nsns_management/Web/bin/Debug/net8.0/Web.exe
/nsns_management/Web/bin/Debug/net8.0/Web.pdb
/nsns_management/Test/obj/Debug/net8.0/Test.AssemblyInfo.cs
/nsns_management/Test/obj/Debug/net8.0/Test.AssemblyInfoInputs.cache
/nsns_management/Test/obj/Debug/net8.0/Test.dll
/nsns_management/Test/obj/Debug/net8.0/Test.pdb
/nsns_management/Test/obj/Debug/net8.0/Test.sourcelink.json
/nsns_management/.vs/nsns_management/FileContentIndex/11b25c85-fd71-41af-b342-2f5651d33ad8.vsidx
/nsns_management/.vs/nsns_management/FileContentIndex/1d79063d-81ac-41c5-ae0f-8eca3d41efb3.vsidx
/nsns_management/.vs/nsns_management/FileContentIndex/465123f5-8fc1-4b09-8987-ef46c52c361c.vsidx
/nsns_management/.vs/nsns_management/FileContentIndex/57b2dca0-12fd-4d91-b500-098b076cd3cb.vsidx
/nsns_management/.vs/nsns_management/FileContentIndex/9184edb1-6a7f-4050-b2a7-76e7b054e233.vsidx
/nsns_management/.vs/nsns_management/v17/.futdcache.v2
/nsns_management/.vs/nsns_management/v17/DocumentLayout.backup.json
/nsns_management/.vs/nsns_management/v17/DocumentLayout.json
